*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    background-color: #2f2f2f;
}

header{
    width: 100%;
    margin: auto;
    height: 100px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100px;
    margin: auto;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.threadhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 0px;
}

ul {
    display: flex;
}
li{
    display: inline;
    padding: 10px;
}

nav{
    width: 60%;
    margin: auto;
}

.menu{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    background-color: white;
}

#content{
    background-color: blue;
    width: 60%;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.container{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.post{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.postHead{
    border-radius: 6px 6px 0px 0px;
    background-color: #47c27e;
    padding: 10px;
}

.postContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.postInfo{
    width: 25%;
    background-color: grey;
    border-radius: 0px 0px 0px 6px;
    padding: 10px;
    align-self: stretch;
}

.postComment{
    width: 75%;
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 0px 0px 6px 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.postMessage{
    flex-basis: 80%;
}

.answerButton{
    flex-basis: 20%;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.box{
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: #2f2f2f;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px #000000;
    flex-direction: column;
    padding: 10px;
    z-index: 5;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.createPost{
    width: 100%;
    border-radius: 6px;
    background-color: #282c34;
    padding: 10px;
}

textarea{
    width: 100%;
    resize: vertical;
    padding: 10px;
    height: 150px;
}

.breadcrums{
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: left;
    background-color: #ffb300;
    padding: 10px;
}

.boxBackground{
    width: 100%;
    height: 100%;
    background-color: #282c345e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.corner{
    position: fixed !important;
    top: 0;
    right: 0;
}


th:first-child{
    border-radius: 5px 0px 0px 0px;
}

th:last-child{
    border-radius: 0px 5px 0px 0px;
}

tr{
    height: 50px;
}

.quoterow{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.quote{
    width: 100%;
    border: 1px solid black;
    background-color: grey;
    border-radius: 5px;
}

<<<<<<< HEAD
=======
button{
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

>>>>>>> 50f91259afa481bb62b31401bc1b72bab43f166d
footer{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 10px;
<<<<<<< HEAD
}

textarea, input{
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #2f2f2f;
}

.aws-btn {
--button-default-height: 48px !important;
--button-default-font-size: 14px !important;
--button-default-border-radius: 25px !important;
--button-horizontal-padding: 20px !important;
--button-raise-level: 10px !important;
--button-hover-pressure: 2 !important;
--transform-speed: 0.185s !important;
 --button-primary-color-light: black !important;
}
=======
}
>>>>>>> 50f91259afa481bb62b31401bc1b72bab43f166d
